# Compiled class files
*.class
CCINFOM-DB-APP/bin
CCINFOM-DB-APP/out

# IDE files (IntelliJ, Eclipse, VSCode)
.idea/
.vscode/
*.iml
.project
.classpath

# Build output folders
out/
bin/
build/

# Mac 
.DS_Store

